<div class="password-page">
  <div class="password-card">
    <h2>{{ 'CHANGE_PASSWORD' | translate }}</h2>

    @if (currentUser) {
    <p class="currentUser" >
      <span class="username-highlight">
        {{ 'USER' | translate }}: {{ currentUser.getLogin() }}
      </span>
    </p>
    }

    @if (errorMessage()) {
    <div class="error-message">{{ errorMessage() | translate }}</div>
    }
    @if (successMessage()) {
    <div class="success-message">{{ successMessage() | translate }}</div>
    }

    <form #passwordForm="ngForm" (ngSubmit)="onChangePassword(passwordForm)">
      <div class="form-group">
        <label for="oldPassword">{{ 'OLD_PASSWORD' | translate }}</label>
        <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="oldPassword" required
          #oldPasswordCtrl="ngModel" />
        @if (oldPasswordCtrl.invalid && oldPasswordCtrl.touched) {
        <small class="error-text">{{ 'OLD_PASSWORD_REQUIRED' | translate }}</small>
        }

      </div>

      <div class="form-group">
        <label for="newPassword">{{ 'NEW_PASSWORD' | translate }}</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required minlength="4" 
        #newPasswordCtrl="ngModel"
        />
        @if (newPasswordCtrl.invalid && newPasswordCtrl.touched) {
        <small class="error-text">{{ 'PASSWORD_MINLENGTH' | translate }}</small>
        }
      </div>

      <button type="submit" class="btn-submit" [disabled]="passwordForm.invalid">
        {{ 'SUBMIT_BUTTON' | translate }}
      </button>
      <a routerLink="/welcome" class="back-link">{{ 'BACK_TO_HOME' | translate }}</a>
    </form>
  </div>
</div>